:root {
  --color-050: #f3f3f3;
  --color-100: #dbdbde;
  --color-200: #cacace;
  --color-300: #72727c;
  --color-400: #515159;
  --image-background: #71717b;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

body {
  margin: 0;
  color: var(--color-400);
}

a,
a:link,
a:visited {
  color: var(--color-400);
}

@media print {
  :root {
    font-size: 0.875rem;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

h3 {
  font-style: italic;
  margin-bottom: 0.25rem;
}

.Avatar {
  max-width: 5rem;
  height: auto;
  border-radius: 100%;
  background-color: var(--image-background);
}

.EducationEntry {
  display: block;
}
.EducationEntry__subjects {
  list-style-type: none;
  padding-left: 1.25rem;
  display: grid;
  gap: 0.75rem;
}
.EducationEntry__subject {
  position: relative;
}
.EducationEntry__subject::before {
  position: absolute;
  top: 0.25rem;
  left: -1rem;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 0.325rem solid transparent;
  border-bottom: 0.325rem solid transparent;
  border-left: 0.325rem solid currentColor;
}

.List {
  list-style-type: none;
  padding-left: 1.25rem;
  display: grid;
  gap: 0.5rem;
}
.List__item {
  position: relative;
}
.List__item::before {
  position: absolute;
  top: 0.25rem;
  left: -1rem;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 0.325rem solid transparent;
  border-bottom: 0.325rem solid transparent;
  border-left: 0.325rem solid currentColor;
}

.NameAndTitle {
  font-family: "Playfair Display", serif;
}
.NameAndTitle__name {
  margin: 0;
  font-size: 2.75rem;
}
.NameAndTitle__title {
  margin: 0;
  font-size: 1.25rem;
}

.ResourceLink__link:link, .ResourceLink__link:visited {
  color: var(--color-400);
}

.Section {
  display: flex;
  background-color: red;
}

.SidebarBullets {
  list-style-type: none;
  padding-left: 1.25rem;
  display: grid;
  gap: 0.75rem;
}
.SidebarBullets__bullet {
  position: relative;
}
.SidebarBullets__bullet::before {
  position: absolute;
  top: 0.25rem;
  left: -1rem;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 0.325rem solid transparent;
  border-bottom: 0.325rem solid transparent;
  border-left: 0.325rem solid currentColor;
}

.SkillChip {
  display: block;
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
  color: white;
  border: 0.0625rem solid var(--color-300);
  background-color: var(--color-300);
  white-space: nowrap;
}

.Skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.WorkHistoryEntry__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid var(--color-200);
  margin: 0;
  margin-bottom: 0.125rem;
  padding-bottom: 0.125rem;
}

.WorkHistory {
  display: grid;
  gap: 0.5rem;
}

.Resume {
  display: flex;
  gap: 4rem;
  max-width: 52rem;
  margin: 0 auto;
  margin-top: 2rem;
}
@media print {
  .Resume {
    margin-top: 0;
  }
}
.Resume__header {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.Resume__main-content {
  flex: 1 1 70%;
}
.Resume__sidebar {
  flex: 1 1 30%;
}
.Resume__contact-links {
  display: grid;
  gap: 0.5rem;
}
.Resume__divider {
  border-bottom: 0.125rem solid var(--color-200);
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
