* {
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;

  --color-050: #f3f3f3;
  --color-100: #dbdbde;
  --color-200: #cacace;
  --color-300: #72727c;
  --color-400: #515159;

  --image-background: #71717b;

  --sidebar-bg: var(--color-200);
  --header-bg: var(--color-300);

  /* --my-name-color: green; */

  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

body {
  margin: 0;
  background-color: var(--color-050);
  color: var(--color-400);
}
@media print {
  :root {
    font-size: 0.875rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}

.page-break {
  page-break-before: always;
}

.page {
  max-width: 840px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    'photo header'
    'aside main'
    'aside main';
}

.page > * {
  padding: 1.5em;
  --main-side-padding: 2.5em;
}

figure {
  margin: 0;
  grid-area: photo;
  text-align: center;
}
img {
  max-width: 8rem;
  height: auto;
  border-radius: 100%;
  background-color: var(--image-background);
}
a {
  color: var(--color-400);
}

header {
  grid-area: header;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header * {
  margin: 0;
  text-align: center;
}
header h1 {
  font-family: 'Playfair Display', serif;
}
header h2 {
  font-weight: 100;
  font-size: 1.2em;
  opacity: 0.7;
  margin-top: 0.5em;
}

aside {
  grid-area: aside;
}
.page main {
  grid-area: main;
  padding-right: var(--main-side-padding);
  padding-left: var(--main-side-padding);
}
main h2 {
  text-transform: uppercase;
}

ul {
  padding-left: 1.2em;
  margin-left: 0;
}

li {
  margin: 0.5em 0;
  border-radius: 5px;
}

main h2 {
  margin-top: 2em;
}
main h2:first-child {
  margin-top: 0;
}

main h3 {
  margin: 0;
  display: flex;
}
main h3 span:last-child {
  padding-left: 1em;
  margin-left: auto;
}

main h3 ~ p {
  opacity: 0.8;
  font-style: oblique;
  margin-top: 0.2em;
}

/* Work History */
.work-history {
  list-style: none;
  padding-left: 0;
}

.work-history li {
  page-break-inside: avoid;
}

.work-history li ul {
  margin: 0 0 3em;
  padding-left: 0em;
}
.work-history li li {
  list-style: none;
  position: relative;
  padding: 0.25em 0.25em;
  padding-left: 0.75em;
  background-color: var(--color-100);
}
.work-history li li::before {
  content: '';
  display: block;
  width: 0.2em;
  height: 1em;
  background-color: var(--color-300);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.work-history .multi-column {
  column-count: 3;
}
.work-history .multi-column li {
  display: inline-block;
  width: 100%;
  margin: 0.25em 0;
}
.work-history .flex-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
}
.work-history .flex-list li {
  flex: 1 1 auto;
  margin: 0.25em 0 0.25em 1em;
}

/* Skills */

.skills {
  display: flex;
  margin: 0;
  padding: 0;
}

.skills > li {
  list-style: none;

  flex: 1;
  padding-right: 1em;
}

.skills > li ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0;
  /* background-color: #E9EEF1; */
}
.skills > li li {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0.2em;
  color: var(--color-300);
  border: 0.0625rem solid var(--color-200);
  /* background-color: white; */
}

/* Sidebar */
aside h2 {
  margin-top: 2em;
}
aside h2:first-child {
  margin-top: 0;
}
aside h3 {
  margin-bottom: 0.25rem;
}
aside ul {
  padding-left: 0em;
}
aside li {
  list-style: none;
  position: relative;
  margin: 0.75rem 0;
  padding-left: 0.75em;
}
aside li::before {
  content: '';
  display: block;
  width: 0.2em;
  height: 1em;
  background-color: var(--color-300);

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

aside h3 + p {
  margin-top: 0.25rem;
  font-style: italic;
}

/* .my-name {
  color: var(--my-name-color);
} */

/* @media (max-width: 900px) {
  .page {
    grid-template-columns: auto auto;
    grid-template-areas:
      'photo header'
      'main main'
      'aside aside';
  }
  img {
    max-width: 75px;
  }
  .work-history .multi-column {
    column-count: 2;
  }
  .page > main {
    padding: 1.5em;
  }
}
@media (max-width: 560px) {
  .page {
    grid-template-areas:
      'photo photo'
      'header header'
      'main main'
      'aside aside';
  }
  .skills {
    display: block;
  }
  .skills h3 {
    margin-top: 1.5em;
  }
  header h1 {
    font-size: 1.5em;
  }
  header h2 {
    font-size: 0.9em;
  }
}

@media (max-width: 350px) {
  .work-history .multi-column {
    column-count: auto;
  }
} */
