.List {
  list-style-type: none;
  padding-left: 1.25rem;
  display: grid;
  gap: 0.5rem;

  &__item {
    position: relative;

    &::before {
      position: absolute;
      top: 0.25rem;
      left: -1rem;
      content: '';
      display: inline-block;
      width: 0;
      height: 0;

      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;

      border-left: $arrow-size solid currentColor;
    }
  }
}
